url = "https://pypi.org/simple"
[[source]]
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
streamlit = "*"
matplotlib = "*"
torch = "*"
sentencepiece = "*"
transformers = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.12"
